@{
    ViewData["Title"] = "Home Page";
}
<div>AspDotNetCoreStart</div>
<hr />
<input class="keyboard" type="text" placeholder=" Enter something...">
<input class="keyboard" type="text" placeholder=" Enter something...">
<input class="keyboard" type="text" placeholder=" Enter something...">
<input class="keyboard" type="text" placeholder=" Enter something...">
<input class="keyboard" type="text" placeholder=" Enter something...">
<div></div>
<hr />

<hr />
<input class="keyboard2" type="text" placeholder=" Enter something...">
<input class="keyboard2" type="text" placeholder=" Enter something...">
<input class="keyboard2" type="text" placeholder=" Enter something...">
<input class="keyboard2" type="text" placeholder=" Enter something...">
<input class="keyboard2" type="text" placeholder=" Enter something...">
<div></div>
<hr />
